<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Users List:</h1>
    <ul>
      <% users.forEach((user) => { %>
      <li>
        <a href="/auth/users/<%= user._id %>"><%= user.username %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
