<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredients</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Ingredients List:</h1>
    <% if (ingredients.length > 0){ %>
    <ul>
      <% ingredients.forEach((ingredient) => { %>
      <li>
        <a href="/ingredients/<%= ingredient._id %>"><%= ingredient.name %></a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>There is no ingredient added yet.</p>
    <% } %>
    <a href="/ingredients/new">Add New Ingredient</a>
  </body>
</html>
