<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    <% if (recipes.length > 0){ %>
    <ul>
      <% recipes.forEach((rec) => { %>
      <li>
        <a href="/recipes/<%= rec._id %>"><%= rec.name %> Recipe</a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>You have not created any recipes yet.</p>
    <% } %>
    <a href="/recipes/new">Add New Recipe</a>
  </body>
</html>
